{% extends 'base.html' %}
{% block nav_title %}Todo{% endblock %}

{% block sidebar %}

<h2 class="mt-20">Todo</h2>

<form action="/todo/add" method="post">
    <div>
        <label for="title" class="form-label">Add task</label>
        <input type="text" class="form-control" name="title" placeholder="Enter Todo...">
        <label for="content" class="form-label">Add content</label>
        <input type="text" class="form-control" name="content" placeholder="Enter content...">
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Add</button>
    </div>
</form>

{% endblock %}


{% block content %}

{% for item in todo_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ item.id }} | {{ item.title }}</h5>
        {% if item.complete == False %}
        <span>Not Completed</span>
        {% else %}
        <span>Completed</span>
        {% endif %}
        <p class="card-text">{{ item.content }}</p>
        <br>
        <a class="btn btn-success" href="/todo/update/{{ item.id }}">Update</a>
        <a class="btn btn-danger" href="/todo/delete/{{ item.id }}">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock %}